<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Events</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <% events.forEach((row,index)=>{ %>
            <tr>
                <td>
                    <%= row.id %>
                </td>
                <td>
                    <%= row.event_name %>
                </td>
            </tr>
            <% }); %>
    </table>>
</body>

</html>