<h1>Hello from
    <%=name%>
</h1>

<ul>
    <%colors.forEach(function(value,index){%>
        <li>
            <%=value%>
        </li>
        <%});%>
</ul>

<form action="/subscribe" method="post">
    <input type="email" name="subscriber" required="required">
    <button type="submit">Subscribe</button>
</form>