<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
    <script src="/static/js/jquery.min.js"></script>
</head>

<body>
    <div id="results"></div>
    <script>
        $(function() {
            $.getJSON('/colors', function(data) {
                var content = '<ul>';
                $.each(data, function(i, o) {
                    content += '<li>' + o + '</li>';
                });
                content += '</ul>';
                $('#results').html(content);
            });
        });
    </script>
</body>

</html>