<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Node Project</h1>
    <h2>Node Project</h2>
    <form method="post">
        <input type="text" name="name" id="">
        <button type="submit">Send</button>
    </form>
    <script>
        var h1 = document.querySelectorAll('h1');
        h1.forEach(function(value, index) {
            value.innerHTML = "Used javascript";
        });
    </script>
</body>

</html>